body {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin-bottom: 10rem;
  font-size: 1.3rem;
}

.hauptbox {
  display: flex;
  justify-content: row;
  justify-content: space-between;
}

.liststyle {
  list-style: none;
  text-decoration: none;
  color: black;
  margin-bottom: 5rem;
  margin-left: -5rem;
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#nav-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  border: 3px solid #000000;
  justify-content: center;
  height: 48rem;
  padding: 0px;
  align-items: center;
  justify-content: start;
  position: fixed;
  margin-top: -10px;
  margin-left: -10px;
}

#ultext {
  list-style: none;
}

#ha1 {
  display: flex;
  font-size: 1.8rem;
  font-weight: bolder;
  margin-bottom: 3rem;
}

@media (max-width: 400px) {
  #nav-box {
    display: none;
  }

  #main-doc {
    margin-left: -18rem;
  }
}

#main-doc {
  display: flex;
  margin-left: 18rem;
  flex-direction: column;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: -1rem;
}

.main-section {
  margin-bottom: 2rem;
  margin-right: 3rem;
  font-size: 1.2rem;
}

.liste {
  margin-left: 3rem;
}

code {
  display: flex;
  background-color: #f8f8f8;
  height: 3rem;
  align-content: center;
  align-items: center;
  margin-left: 1rem;
  border-radius: 10px;
  padding-left: 2rem;
}
